<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <title>USA Technologix </title>
</head>

<body class="bg-secondary ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="" alt="">
    <a class="navbar-brand" href="#">USA Technologix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="Software house home.html">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="About.html">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Our Locations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">USA</a>
            <a class="dropdown-item" href="#">UK</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Pakistan</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Contact.html">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </nav>
  <div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Zeeshan Iqbal<br></h2>
        <p class="lead text-light">My name is Zeeshan Iqbal or Zeesh for short. I am the Co-Founder and CTO of USA
          Technologix.
          My expertise lie in Solution Design, Agile Management, full-stack and IoT Development. I lead teams of
          developers and designers. At USA Technologix I have helped develop systems that are used in the industry and
          Applications that have a huge user base. My work philosophy is to deliver a quality product as early as
          possible and simultaneously preserving the quality of the code. I love to read and I am always up for a
          discussion over coffee.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="zeeshaniqbal.jpg"
          alt="">
      </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Yousaf Imran<br></h2>
        <p class="lead text-light">My name is Yousaf Imran and I started out as a design intern here at USA Technologix.
          Now
          I’m a part of the design team and I do UI design and I also build WordPress websites. My responsibilities also
          include figuring out UX problems in Mobile Apps. Currently I am also doing my Bachelors in Computer Science.
        </p>
      </div>
      <div class="col-md-5 order-md-3 ">
        <img src="uidesigner.jpg" alt="">
      </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Muhammad Ijaz</h2>
        <p class="lead text-light">My name is Muhammad Ijaz and I am a Computer Science Engineer. I worked as an Android
          and Flutter Developer at Uber Doktor for 8 Months. I am working here as a Flutter Developer. I love
          productivity and personalization apps. I enjoy to play sports and games and watch movies at my free time. </p>
      </div>
      <div class="col-md-5 order-md-1 ">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          src="software-developer-6521720__340.jpg" alt="">
      </div>
    </div>
  </div>
  <footer class="page-footer font-small indigo bg-dark">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Get Started</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Home</a>
            </li>
            <li>
              <a href="#!">Signup</a>
            </li>
            <li>
              <a href="#!">Download</a>
            </li>
          </ul>

        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Abot Us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Company Information</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
            <li>
              <a href="#!">Reviews</a>
            </li>
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Support</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">FAQ</a>
            </li>
            <li>
              <a href="#!">Help desk</a>
            </li>
            <li>
              <a href="#!">Center</a>
            </li>
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Information</h5>
          <p class="text-light">This era of technology requires an expert firm for acieving your great goals and that is
            where we come. Let us know what and when you need and it is done.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-2 bg-light">USA Technologix</div>
  </footer>
</body>

</html>